/* Mixins */

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
  }
  
  @mixin fontStyle($fontSize, $fontWeight) {
    font-size: $fontSize;
    font-weight: $fontWeight;
  }