/*BIO-HOME*/

.bioContainer {
    display: grid;
    grid-template-areas:
      "bioTitulo bioTitulo"
      "articulo1 articulo1"
      "articulo2 articulo2"
      "articulo3 articulo3"
      "articulo4 articulo4";
    gap: 16px;
  }
  
  .bioTitulo {
    grid-area: bioTitulo;
  }
  
  .articulo1 {
    grid-area: articulo1;
  }
  
  .articulo2 {
    grid-area: articulo2;
  }
  
  .articulo3 {
    grid-area: articulo3;
  }
  
  .articulo4 {
    grid-area: articulo4;
  }
  
  .fotosBio {
    width: 320px;
    border-radius: 16px;
    margin-top: 16px;
  }

  .discos {
    color: $color-span;
    font-style: italic;
    @include fontStyle(18px, bold);
  }
  
  .articulos {
    @include flex(row);
    color: $color-textos-p;
    width: 62%;
    margin: auto;
    gap: 16px;
  }