/*CONTACTO*/

form {
    @include flex(column);
    width: 100%;
    max-width: 600px;
    label {
      color: map-get($colores, principal);
      @include fontStyle(16px, bold);
      margin-top: 16px;
    }
  }
  
  input,
  textarea {
    background-color: map-get($colores, contenido);
    border-radius: 16px;
    border: none;
    width: 60%;
    max-width: 400px;
    text-align: center;
    padding: 8px;
    margin: 8px;
    &:focus {
      outline: none;
      border: 2px solid map-get($colores, border);
      box-shadow: 2px 2px 2px map-get($colores, sombras);
    }
  }
  
  .boton {
    background: map-get($colores, gradiente-boton);
    color: map-get($colores, fondo);
    border-radius: 16px;
    @include fontStyle(16px, bold);
    padding: 8px;
    margin: 16px 0px;

    &:hover {
      background: map-get($colores, gradiente-boton-hover);
      box-shadow: 2px 2px 2px map-get($colores, sombras);
    }

    &:active {
      background-color: map-get($colores, terciario);
    }
}
  
  #mensaje {
    resize: vertical;
    min-height: 40px;
  }

  .acordeonStyle {
    display: flex;
    flex-direction: row;
    gap: 16px;
    @extend .botonNavBar;
    padding: 16px;
    margin: 0;
    font-size: 20px;
  }

  .respuesta {
    @include fontStyle(16px, bold);
    color: map-get($colores, principal);
  }

