/* IFRAMES: Music & Video */

.musicEdit {
  width: 70%;
  height: 160px;
  border-radius: 16px;
  margin: 8px;
}

.videoEdit {
  @extend .musicEdit;
  height: 240px;
}

.arrow {
  font-family: $fontTitulos;
  @include fontStyle(32px, 800);
  color: map-get($colores, terciario);
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: map-get($colores, terciario);
  }
}

.indicadores button {
  width: 12px;
  height: 12px;
  margin-bottom: 8px;
}

.indicadores .active {
  color: map-get($colores, terciario);
}
