/*IMAGENES e ICONOS*/

.fotosDeFondo {
  width: 100%;
  height: auto;
}

.tour-background {
  background-image: url("../assets/img/fondoTour.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 0 16px;
}

.contact-background {
  background-image: url("../assets/img/fondoContact.png");
  @extend .tour-background;
}

.iconosRedes {
  height: 32px;
  padding: 0 16px;
  margin: 8px;
}

.pictureBio {
  transition: ease 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.vinilo {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  animation: girar 3s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
