/* MEDIA QUERIES */

@media (max-width: 450px) {
    .logo {
      width: 160px;
      margin-left: auto;
    }
    .listaTour, .botonListaTour {
      font-size: 12px;
    }
    .fotosTour {
      width: 72px;
    }
    .fotosBio {
      width: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .logo {
      width: 120px;
    }
    .listContainer {
      margin-right: 0px;
    }
    .listaTour, .botonListaTour {
      font-size: 14px;
    }
    .fotosTour {
      width: 100px;
    }
    .pBio, .discos {
      font-size: 13px;
      line-height: 1.3;
    }
    .articulos {
      width: 58%;
    }
  }
  
  @media (max-width: 1024px) {
    .logo {
      width: 160px;
    }
  
    .fotosBio {
      width: 240px;
    }
  
    .listContainer {
      margin-right: 0px;
    }
  
    nav ul li {
      padding: 0;
    }
 
    .botonNavBar{
      @include fontStyle(18px, bold);
      padding: 0 6px;
    }
  
    .articulos {
      @include flex(column);
      gap: 4px;
    }
  
    h2 {
      font-size: 24px;
      padding: 0 16px;
    }
  }
  