/* HEADER + NAVBAR */

header {
    margin-top: 4px;
  }
  
  .logo {
    width: 200px;
    margin: 0 8px;
  }
  
  nav {
    ul {
      li {
        display: inline-block;
        padding: 2px 16px;
        margin-top: 6px;
        @include fontStyle(36px, bold);
        font-family: $fontTitulos;
      }
    }
  }
  
  .listContainer {
    @include flex(row);
    margin-right: 150px;
  }
  
  .listaNavbar {
    list-style-type: none;
  }
  
  .botonNavBar{
    color: map-get($colores, secundario);
    text-decoration: none;
    @include fontStyle(24px, bold);
    padding: 2px 12px;
    margin: 0 8px;
    transition: ease 0.5s;
    &:hover {
      color: map-get($colores, terciario);
      text-shadow: 0 0 10px rgba(167, 10, 148, 0.5);
    }
  }
  
  .active{
    color: map-get($colores, terciario);
  }
  
  .hamburguesaBoton {
    border: 3px solid map-get($colores, borde);
  }
  
  .hamburguesaBoton[aria-expanded="true"] {
    border: 2px solid map-get($colores, borde);
    background-color: map-get($colores, terciario);
    box-shadow: 0 0 10px map-get($colores, destacado);
  }
  