/*TOUR*/

.listaTour {
    list-style-type: none;
    .botonListaTour:hover {
      color: $color-botones-hover;
      text-shadow: 0 0 8px $color-sombras;
      transition: ease 0.5s;
    }
  }
  
  .ulTour {
    margin-right: 24px;
  }

  .botonListaTour {
    color: $color-botones-navBar;
    text-decoration: none;
    @include fontStyle(18px, bold);
  }

  .tour {
    @include flex(column);
    margin-bottom: 16px;
  }
  