/*TOUR*/

.listaTour {
    list-style-type: none;
    .botonListaTour:hover {
      color: map-has-key($colores, terciario);
      text-shadow: 0 0 8px map-get($colores, destacado);
      transition: ease 0.5s;
    }
  }
  
  .ulTour {
    margin-right: 24px;
  }

  .botonListaTour {
    color: map-get($colores, secundario);
    text-decoration: none;
    @include fontStyle(18px, bold);
  }

  .tour {
    @include flex(column);
    margin-bottom: 16px;
  }
  