/*Base*/
/* RESET */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Tipografia */
/*Utilities*/
/* Mixins */
/* Maps */
/*Components*/
/*Template general*/
.containerTemplate {
  background-color: #f0eeed;
  color: #003d51;
  font-family: "Roboto", "serif";
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*BIO-HOME*/
.bioContainer {
  display: grid;
  grid-template-areas: "bioTitulo bioTitulo" "articulo1 articulo1" "articulo2 articulo2" "articulo3 articulo3" "articulo4 articulo4";
  gap: 16px;
}

.bioTitulo {
  grid-area: bioTitulo;
}

.articulo1 {
  grid-area: articulo1;
}

.articulo2 {
  grid-area: articulo2;
}

.articulo3 {
  grid-area: articulo3;
}

.articulo4 {
  grid-area: articulo4;
}

.fotosBio {
  width: 320px;
  border-radius: 16px;
  margin-top: 16px;
}

.discos {
  color: #a70a94;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.articulos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #003d51;
  width: 62%;
  margin: auto;
  gap: 16px;
}

/* HEADER + NAVBAR */
header {
  margin-top: 4px;
}

.logo {
  width: 200px;
  margin: 0 8px;
}

nav ul li {
  display: inline-block;
  padding: 2px 16px;
  margin-top: 6px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Rubik", "serif";
}

.listContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 150px;
}

.listaNavbar {
  list-style-type: none;
}

.botonNavBar {
  color: #095c78;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding: 2px 12px;
  margin: 0 8px;
  transition: ease 0.5s;
}
.botonNavBar:hover {
  color: #a70a94;
  text-shadow: 0 0 10px rgba(167, 10, 148, 0.5);
}

.active {
  color: #a70a94;
}

.hamburguesaBoton {
  border: 3px solid terciario;
}

.hamburguesaBoton[aria-expanded=true] {
  border: 2px solid terciario;
  background-color: #a70a94;
  box-shadow: 0 0 10px #5e0754;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Rubik", "serif";
  padding: 4px;
}

h1 {
  color: #0b829a;
  margin-top: 24px;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  color: #095c78;
  font-size: 26px;
  font-weight: 200;
}

h3 {
  color: #a70a94;
  font-size: 22px;
  font-weight: bold;
}

p {
  color: #003d51;
  font-family: "Times New Roman", "serif";
  font-size: 18px;
  font-weight: 200;
  padding: 4px;
}

/*TOUR*/
.listaTour {
  list-style-type: none;
}
.listaTour .botonListaTour:hover {
  color: true;
  text-shadow: 0 0 8px #5e0754;
  transition: ease 0.5s;
}

.ulTour {
  margin-right: 24px;
}

.botonListaTour {
  color: #095c78;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

/*CONTACTO*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
form label {
  color: #0b829a;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

input,
textarea {
  background-color: #c1d6e6;
  border-radius: 16px;
  border: none;
  width: 60%;
  max-width: 400px;
  text-align: center;
  padding: 8px;
  margin: 8px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid;
  box-shadow: 2px 2px 2px destacado;
}

.boton {
  background: linear-gradient(to bottom, #0b829a, #095c78);
  color: #f0eeed;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  margin: 16px 0px;
}
.boton:hover {
  background: linear-gradient(to bottom, #a70a94, #5e0754);
  box-shadow: 2px 2px 2px destacado;
}
.boton:active {
  background-color: #a70a94;
}

#mensaje {
  resize: vertical;
  min-height: 40px;
}

/* IFRAMES: Music & Video */
.musicEdit, .videoEdit {
  width: 70%;
  height: 160px;
  border-radius: 16px;
  margin: 8px;
}

.videoEdit {
  height: 240px;
}

.arrow {
  font-family: "Rubik", "serif";
  font-size: 32px;
  font-weight: 800;
  color: #a70a94;
  cursor: pointer;
}
.arrow:hover, .arrow:focus, .arrow:active {
  color: #a70a94;
}

.indicadores button {
  width: 12px;
  height: 12px;
  margin-bottom: 8px;
}

.indicadores .active {
  color: #a70a94;
}

/*FOOTER*/
footer {
  margin-top: 16px;
  text-align: center;
}
footer p {
  font-family: "Roboto", "serif";
  font-size: 16px;
  font-weight: 200;
  padding: 0px;
  margin: 0px;
}

/*IMAGENES e ICONOS*/
.fotosDeFondo {
  width: 100%;
  height: auto;
}

.tour-background, .contact-background {
  background-image: url("../assets/img/fondoTour.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 0 16px;
}

.contact-background {
  background-image: url("../assets/img/fondoContact.png");
}

.iconosRedes {
  height: 32px;
  padding: 0 16px;
  margin: 8px;
}

.pictureBio {
  transition: ease 0.5s;
}
.pictureBio:hover {
  transform: scale(1.1);
}

.vinilo {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
  animation: girar 3s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sobre, .vhs, .microfono, .mano {
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
  margin-left: 4px;
  animation: vaiven 1s ease-in-out infinite alternate;
}

@keyframes vaiven {
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(-25deg);
  }
}
/* MEDIA QUERIES */
@media (max-width: 450px) {
  .logo {
    width: 160px;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 120px;
  }
  .listContainer {
    margin-right: 0px;
  }
}
@media (max-width: 1024px) {
  .logo {
    width: 160px;
  }
  .fotosBio {
    width: 240px;
  }
  .listContainer {
    margin-right: 0px;
  }
  nav ul li {
    padding: 0;
  }
  .botonNavBar {
    font-size: 18px;
    font-weight: bold;
    padding: 0 6px;
  }
  .articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  h2 {
    font-size: 24px;
    padding: 0 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
