/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0eeed;
  color: #003d51;
  text-align: center;
  font-family: "Rubik", "Roboto", serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER */

header {
  margin-top: 16px;
}

nav ul li {
  display: inline-block;
  padding: 8px;
  font-size: 24px;
}

li {
  list-style-type: none;
}

a {
  color: #003d51;
  font-weight: bold;
  text-decoration: none;
}

/*MAIN*/

h1 {
  font-size: 36px;
  padding: 8px;
}

h2 {
  color: #086e83;
  padding: 8px;
}

h3 {
  color: #a70a94;
  padding: 4px;
}

p {
  font-size: 16px;
  padding: 8px;
}

.discos {
  color: #a70a94;
  font-style: italic;
}

.articulos {
  color: #086e83;
  width: 50%;
  margin: auto;
}

/*FOOTER*/

footer {
  margin-top: 16px;
  text-align: center;
  position: relative;
}

footer p {
  font-size: 14px;
}

/*IMAGENES e ICONOS*/

.logo {
  width: 160px;
}

.fotosBio {
  width: 300px;
  border-radius: 16px;
  padding: 8px;
}

.fotosDeFondo {
  width: 100%;
}

.fotosDeCostado {
  width: 100%;
  display: flex;
  position: absolute;
  z-index: -1;
  bottom: 0px;
}

.iconosRedes {
  height: 32px;
  padding: 0 16px;
  margin: 8px;
}

.videoEdit {
  width: 320px;
  border-radius: 16px;
  margin: 8px;
}

.musicEdit {
  width: 24%;
  height: 160px;
  border-radius: 16px;
  margin: 8px;
}

/*CONTACTO*/

form label {
  color: #086e83;
  font-weight: bold;
}

input,
textarea {
  border-radius: 16px;
  border: none;
  background-color: #c1d6e6;
  width: 40%;
  text-align: center;
  padding: 8px;
  margin: 8px;
}

.boton {
  background-color: #086e83;
  color: #f0eeed;
  font-weight: bold;
  font-size: 16px;
  border-radius: 16px;
  padding: 8px;
}
