/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0eeed;
  color: #003d51;
  text-align: center;
  font-family: "Rubik", "Roboto", serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER + NAVBAR */

header {
  margin-top: 4px;
}

.logo {
  width: 160px;
  margin-right: 24px;
}

nav ul li {
  display: inline-block;
  padding: 4px 16px;
  font-size: 22px;
  margin-top: 6px;
}

.listaNavbar {
  list-style-type: none;
}

.botonNavBar, .botonListaTour {
  color: #003d51;
  font-weight: bold;
  text-decoration: none;
}

.botonNavBar:hover, .botonListaTour:hover{
  color: #0a6482;
  text-shadow: 2px 2px 2px #a70a9523;
}

.active, .botonListaTour:active {
  color: #a70a94;
}

.hamburguesaBoton {
  border: 3px solid #a70a94;
}

.hamburguesaBoton[aria-expanded="true"] {
  border: 2px solid #086e83;
  background-color: #a70a94;
  box-shadow: 0 0 10px rgba(167, 10, 148, 0.5);
}

/*MAIN*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  text-align: center;
}

h1 {
  font-family: "Rubik", "Roboto", serif;
  font-weight: bold;
  font-size: 36px;
  padding: 4px;
  margin-top: 24px;
}

h2 {
  font-family: "Rubik", "Roboto", serif;
  font-size: 26px;
  font-weight: 200;
  color: #086e83;
  padding: 4px;
}

h3 {
  font-family: "Rubik", "Roboto", serif;
  font-size: 22px;
  font-weight: bold;
  color: #a70a94;
  padding: 4px;
}

p {
  font-family:'Times New Roman', Times, serif ;
  font-size: 18px;
  padding: 4px;
}

.discos {
  color: #a70a94;
  font-style: italic;
  font-weight: bold;
}

.articulos {
  color: #086e83;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

/*FOOTER*/

footer {
  margin-top: 16px;
  text-align: center;

}

footer p {
  font-size: 14px;
}

/*TOUR*/

.listaTour {
  list-style-type: none;
}

/*CONTACTO*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px; 
}

form label {
  color: #086e83;
  font-weight: bold;
  margin-top: 16px;
}

input,
textarea {
  border-radius: 16px;
  border: none;
  background-color: #c1d6e6;
  width: 60%;
  max-width: 400px;
  text-align: center;
  padding: 8px;
  margin: 8px;
}

input:focus {
  outline: none;
  border: 2px solid #a70a94;
  box-shadow: 2px 2px 2px #a70a94;
}

textarea:focus {
  outline: none;
  border: 2px solid #a70a94;
  box-shadow: 2px 2px 2px #a70a94;
}

.boton {
  background-color: #086e83;
  color: #f0eeed;
  font-weight: bold;
  font-size: 16px;
  border-radius: 16px;
  padding: 8px;
  margin: 16px 0px;
}

.boton:hover {
  background-color: #a70a94;
}

.boton:active {
  background-color: #5e0754;
}

/*IMAGENES e ICONOS*/

.fotosBio {
  width: 320px;
  border-radius: 16px;
  margin-bottom: 8px;
}

.fotosDeFondo {
  width: 100%;
  height: auto;
  display: flex;
}

.tour-background {
  background-image: url("../assets/img/fondoTour.png");
}

.contact-background {
  background-image: url("../assets/img/fondoContact.png");
}

.tour-background, .contact-background {
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  text-align: center;
  margin: 0 16px;
}

.iconosRedes {
  height: 32px;
  padding: 0 16px;
  margin: 8px;
}

.videoEdit {
  width: 320px;
  border-radius: 16px;
  margin: 8px;
}

.musicEdit {
  width: 24%;
  height: 160px;
  border-radius: 16px;
  margin: 8px;
}


/* MEDIA QUERIES */

@media (max-width: 450px) {
  .logo {
    width: 120px;
    margin-left: auto;
  }
}